a {
  text-decoration: none;
}

.main {
  background-color: paleturquoise;
}


/* 投稿一覧 */
.tweet-contents {
  padding: 10px 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet-contents-title {
  font-size: 5vh;
  border-bottom: 1px solid black;
}

.create-tweet a {
  border: 1px black solid;
  padding: 10px;
  color: black;
}

.tweet-lists {
  display: flex;
  flex-wrap: wrap;
}

.tweet-image {
  margin: 30px 20px;
}

.card_img {
  width: 33vw;
  height: 33vh;
}

.list {
  display: flex;
  justify-content: space-around;
}

.tweet-title {
  color: black;
}

.tweet-nickname {
  color: black;
}