<%= render "shared/header" %>

<div class='main'>
  <div class="tweet-contents">
    <h2 class='tweet-contents-title'>渓谷一覧</h2>
    <div class="create-tweet">
      <a href="/tweets/new", class="create-tweet-text" >投稿する</a>
    </div>
  </div>
  <ul class='tweet-lists'>
    <% @tweets.each do |tweet| %>
      <% if @tweets.present? %>
        <li>
          <div class="tweet-image">
            <%= link_to image_tag(tweet.image, class: "card_img" ), tweet_path(tweet.id), method: :get %>
          </div>
          <div class="list">
            <div>
              <%= link_to tweet.title, tweet_path(tweet.id), method: :get, class: "tweet-title"%>
            </div>
            <div>
              <%= link_to "投稿者：#{tweet.user.nickname}", user_path(tweet.user.id), method: :get, class: "tweet-nickname" %>
            </div>
          </div>
        </li>
      <% else %>
        <li>
          <div>
            <h3>渓谷を投稿してね</h3>
          </div>
          <div>
            <span>僕と渓谷</span>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

