.top-page-header {
  width: 100vw;
  background-color: cadetblue;
  display: flex;
}

/* アプリ名 */
.title-contents {
  width: 60%;
  margin: 10px 0 0 30px;
  display: flex;
  align-items: flex-end;
}

.title {
  font-size: 6vh;
}

.service-explain {

}

/* ナビゲーション */
.nav {
  width: 40%;
  padding: 30px;
  background-color: steelblue;
}

.list {
  display: flex;
  justify-content: space-around;
}

li{
  list-style: none;
}

.user-nickname {
  color: black;
}


.logout {
  color: black;
}


.login {
  color: black;
}

.sign-up {
  color: black;
}